ul
{
	list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

span
{
	font-size: 20px;
}

.inside
{
	display: block !important;
}

.inside > div
{
	padding: 10px;
	text-align: left;
}

.inside > div:first-child
{
	padding-bottom: 0px;
	font-style: italic;
}

li
{
    margin: 20px;
}