ul
{
	list-style: 			none outside none;
    margin: 				0;
    padding: 				0;
    width: 					100%;
    text-align: 			center;
}

span
{
	-moz-user-select: 		-moz-none;
	-o-user-select: 		none;
	-khtml-user-select: 	none;
	-webkit-user-select: 	none;
	cursor: 				default;
}

li, li > div:last-child, .ie-last-child
{
	-moz-border-radius: 	10px;
	-webkit-border-radius: 	10px;
	border-radius: 			10px;
}

li > div:last-child > div, .ie-last-child > div
{
	padding: 				10px;
	text-align: 			left;
}

div:last-child > div:first-child, .ie-last-child > div:first-child
{
	padding-bottom: 		0px;
	font-style: 			italic;
}

li
{
	color: 					#FFFFFF;
    background: 			#4A4A4A;
    border-radius: 			10px;
    margin: 				20px;
}

span
{
	height: 				20px;
}

li > div:last-child, .ie-last-child
{
	color: 					#000000;
	background: 			#EFEFEF;
	width: 					100%;
	height: 				auto;
}

li > div:first-child
{
	width: 					100%;
}

li > div:first-child > div
{
	width: 					14px;
	height: 				14px;
	margin: 				3px;
	float: 					right;
	background: 			url(down.png) center no-repeat;
	-moz-border-radius: 	20px;
	-webkit-border-radius: 	20px;
	border-radius: 			20px;
}
